html{
  background: #0a0a0a;
}

.card-content, .title{
  text-align: center;
}

.city-theatre .title, .city-theatre .heading{
  color: #fff;
}

.container .city{
  display: none;
}

.hero{
  margin-bottom: 25px;
}

.dropdown-item{
  color: rgba(105, 105, 105, 1) !important;
}
